@use "../abstracts/index" as *;

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: $white;
  height: 100px;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0px;

  @include mobile {
    flex-wrap: wrap;
    bottom: 10px;
    .navigationButtons {
      order: 2;
    }

    .pagesButtonsWrapper {
      order: 1;
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  button {
    margin: 0 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    line-height: 2px;
  }

  .navigationButtons {
    padding-left: 15px;
    padding-right: 18px;
  }

  .pagesButtonsWrapper {
    display: flex;
    .pagesButtons {
      padding: 15px;
      cursor: pointer;

      &.pagesButtonsActive {
        // border: 1px solid $scarlet-gum;
        background: $colorBackground;
        color: $white;
        border-radius: 50%;
      }
    }
  }

  .dots {
    width: 25px;
    height: 4px;
    padding-bottom: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
