// -----------------------------------------------------------------------------
// This file contains all breakpoints for different screen sizes.
// -----------------------------------------------------------------------------

$elg: 1440px;
$lg: 1024px;
$md: 768px; //It includes various screen sizes for the tablets
$sm: 425px;
