// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$Fallback-font: sans-serif;

$primary-font: fugue_regular, $Fallback-font;

//colors

$white: #fff;
$black: #000000;
$colorBackground: #13376e;
$light-grey: #c3c4c4;
$light-red: #ef4b51;
$gallery: #eaeaea;
$green: #98cb8c;
$silver: #b9b9b9;
