// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$fugue-base-url: "/fonts";

///fugue regular
@font-face {
  font-family: "fugue_regular";
  src: url("#{$fugue-base-url}/fugue_regular.ttf") format("ttf"),
    /* Super Modern Browsers */ url("#{$fugue-base-url}/fugue_regular.ttf")
      format("ttf"),
    /* Modern Browsers */ url("#{$fugue-base-url}/fugue_regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
